@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.paragrafo{
    font-size: 20px;
    font-weight: bolder;
}

#paragrafo{
    color: green;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
